* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.center {
    margin-left: calc(50vw - 1200px/2);
    margin-right: calc(50vw - 1200px/2);
    width: 1200px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-top: 44px;
    margin-bottom: 57px;
    &__logo {
        display: flex;
        align-items: center;
        gap: 10px;
        &__text {
            font-family: DM Serif Display;
            font-size: 40px;
            font-weight: 400;
            line-height: 50px;
            letter-spacing: 0em;
            text-align: left;
            color: #292F36;
        }
    }
    &__links {
        display: flex;
        align-items: center;
        gap: 40px;font-family: Jost;
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        color: #292F36; 
    }
}

.main {
    position: relative;
    display: flex;
    gap: 18px;
    flex-direction: column;
    width: auto;
    margin-bottom: 96px;
    background: url("../img/mainBG.png");
    background-repeat: no-repeat;
    padding: 208px 715px 208px 52px;
    border-radius: 50px;
    overflow: hidden;
    &__header {
        font-family: DM Serif Display;
        font-size: 65px;
        font-weight: 400;
        line-height: 81px;
        letter-spacing: 0em;
        text-align: left;
        color: #292F36;
        width: 434px;
    }
    &__text {
        font-family: Jost;
        font-size: 22px;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0.01em;
        text-align: left;
        color: #4D5053;
    }
    &__button {
        font-family: Jost;
        font-size: 18px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;
        background-color: #292F36;
        width: 220px;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 18px;
    }
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 96px;
    &__header {
        font-family: DM Serif Display;
        font-size: 50px;
        font-weight: 400;
        line-height: 63px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #292F36;
        padding-bottom: 8px;
    }
    &__text {
        font-family: Jost;
        font-size: 22px;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0.01em;
        text-align: center;
        color: #4D5053;
        width: 737px;
        padding-bottom: 93px;
    }
    &__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 56px;
    }
    &__project {
        height: 619px;
        width: 549px;
        &__img {
            padding-bottom: 24px;
        }
        &__info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__description {
                &__name {
                    font-family: DM Serif Display;
                    font-size: 25px;
                    font-weight: 400;
                    line-height: 31px;
                    letter-spacing: 0.02em;
                    text-align: left;
                    color: #292F36;                    
                }
                &__type {
                    font-family: Jost;
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 33px;
                    letter-spacing: 0.01em;
                    text-align: left;
                    color: #4D5053;
                }
            }
            &__link {
                background-color: #F4F0EC;
                width: 65px;
                height: 65px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
            }
        }
    }
    &__project:nth-child(odd) {
        border-top-right-radius: 50px;
        overflow: hidden;
    }
    &__project:nth-child(even) {
        border-top-left-radius: 50px;
        overflow: hidden;
    }
}

.calculation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #F4F0EC;
    height: 457px;
    margin: 0px;
    padding-left: calc(50vw - 1200px/2);
    padding-right: calc(50vw - 1200px/2);
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        &__number {
            font-family: DM Serif Display;
            font-size: 85px;
            font-weight: 400;
            line-height: 106px;
            letter-spacing: 0.02em;
            text-align: left;
            color: #CDA274;
        }
        &__name {
            font-family: Jost;
            font-size: 22px;
            font-weight: 400;
            line-height: 33px;
            letter-spacing: 0.01em;
            text-align: left;
            color: #4D5053;
        }
    }
    &__line{
        height: 130px;
        width: 0px;
        border: 1px solid #CDA274;
    }
}

.articles {
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 96px;
    &__header {
        font-family: DM Serif Display;
        font-size: 50px;
        font-weight: 400;
        line-height: 63px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #292F36;
        padding-bottom: 12px;
    }
    &__text {
        font-family: Jost;
        font-size: 22px;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0.01em;
        text-align: center;
        color: #4D5053;
        width: 811px;
        padding-bottom: 52px;
    }
    &__block {
        display: flex;
        gap: 27px;
    }
    &__item {
        height: 521px;
        width: 382px;
        border: 1px solid #E7E7E7;
        border-radius: 62px;
        transition: 0.2s;
        &__content {
            padding: 21px;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__text {
                font-family: DM Serif Display;
                font-size: 25px;
                font-weight: 400;
                line-height: 31px;
                letter-spacing: 0.02em;
                text-align: left;
                color: #292F36;
                padding-top: 21px;
                padding-bottom: 15px;
            }
            &__bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 65px;
                &__date {
                    font-family: Jost;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0.01em;
                    text-align: left;
                    color: #4D5053;
                    width: 223px;
                }
                &__link {
                    background-color: #F4F0EC;
                    width: 52px;
                    height: 52px;
                    border-radius: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.2s;
                }
            }
        }
    }
    &__item:hover {
        background-color: #F4F0EC;
    }
    &__item:hover .articles__item__content__bottom__link {
        background-color: #FFF;
    }
}

.footer {
    height: 406px;
    display: flex;
    &__content {
        width: 393px;
        padding-right: 101px;
        &__logo {
            display: flex;
            align-items: center;
            gap: 10px;
            font-family: DM Serif Display;
            font-size: 40px;
            font-weight: 400;
            line-height: 50px;
            letter-spacing: 0em;
            text-align: left;
            color: #292F36;
            padding-bottom: 18px;
        }
        &__text {
            font-family: Jost;
            font-size: 22px;
            font-weight: 400;
            line-height: 33px;
            letter-spacing: 0.01em;
            text-align: left;
            color: #4D5053;
            padding-bottom: 31px;
        }
        &__links {
            display: flex;
            align-content: center;
            gap: 10px;
        }
    }
    &__pages{
        width: 125px;
        padding-right: 322px;
        display: flex;
        flex-direction: column;
        font-family: Jost;
        font-size: 22px;
        font-weight: 400;
        line-height: 66px;
        letter-spacing: 0.01em;
        text-align: left;
        color: #4D5053;
        
    }
    &__contact {
        width: 258px;
        font-family: Jost;
        font-size: 22px;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0.01em;
        text-align: left;
        color: #4D5053;

    }
    &__header {
        font-family: DM Serif Display;
        font-size: 25px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
        color: #292F36;
        padding-bottom: 26px;
    }
}